.container {
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  background-color: white;
}
.main-body {
  width: 100%;
  padding: 0 100px;
  box-sizing: border-box;
  background-color: white;
}
.flex-row {
  @include flex-center;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}
.flex-column {
  @include flex-center;
  width: 100%;
  flex-direction: column;
}
.space-between {
  justify-content: space-between;
}
.flex-start {
  justify-content: flex-start;
  align-items: flex-start;
}
ul,
li,
p,
body {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
