@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin side-content {
  width: 400px;
  height: 500px;
  justify-content: space-around;
  @include md {
    height: 400px;
    align-items: center;
    width: 100%;
  }
  @include sm {
    height: 320px;
  }
}

// Small devices
@mixin sm {
  @media (max-width: #{$screen-sm-max}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (max-width: #{$screen-md-max}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (max-width: #{$screen-lg-max}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (max-width: #{$screen-xl-max}) {
    @content;
  }
}
